@using System.Globalization
<div class="component">
    @if (Transaction != null)
    {
        <RadzenCard>
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" class="rz-p-2">
                <RadzenIcon Icon="paid" Style="font-size: 100px;" />
                <RadzenStack Gap="0">
                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">Txn ID</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@(Transaction.UniqueIdentifier)</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Txn Date</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@Transaction.TransactionDateUtc</b></RadzenText>
                </RadzenStack>
            </RadzenStack>
            <RadzenCard class="rz-background-color-primary-light rz-p-3 rz-mb-2">
                <RadzenText TextStyle="TextStyle.H6" class="rz-color-on-primary-light"><strong>Transaction Details</strong></RadzenText>
                <RadzenRow RowGap="0">
                    <RadzenColumn SizeSM="8">
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">Amount</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>@((Transaction.AmountTotalCents / 100m).ToString("C", CultureInfo.GetCultureInfo("en-US")))</b></RadzenText>
                  
                    </RadzenColumn>
                    <RadzenColumn SizeSM="8">
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">Description</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>@(Transaction.Description)</b></RadzenText>
                    </RadzenColumn>
                </RadzenRow>
            </RadzenCard>
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0">
                <RadzenDropDown Value="@("USD")"/>
                <RadzenButton Variant="Variant.Text" Text="Convert" />
            </RadzenStack>
        </RadzenCard>
    }
    else
    {
        <RadzenText Text="Transaction could not be loaded." />
    }
</div>